<add-alarm class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn icon icon-arrow-back pull-left" data-navigation="$previous-page"></button>
            <h1 class="title">Sweet Alarm Activator</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
		<div id="chose-system">
			<h1 data-i18n="text: add_alarm"></h1>
			<p data-i18n="text: alarm_system"></p>
		    	<select class="padded-bottom" id="system">
		        	<option value="iph">iPH</option>
				<option value="custom" data-i18n="text: custom"></option>
		    	</select>
		    	<button class="btn fit-parent primary" data-i18n="text: continue" id="continue-btn"></button>
		</div>
          	<div id="fill-informations" style="display: none">
			<div class="input-wrapper">
				<input class="with-label" type="tel" id="number" pattern="^\d{7,13}$">
				<label class="floating-label" for="number" data-i18n="text: phone_number"></label>
			</div>
			<div class="input-wrapper padded-bottom">
				<input class="with-label" type="password" id="password">
				<label class="floating-label" for="password" data-i18n="text: password"></label>
			</div>
			<button class="btn fit-parent primary" data-i18n="text: submit" id="submit-btn"></button>
          	</div>
        </div>
    </div>
</add-alarm>
