<toggle-alarm class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn icon icon-arrow-back pull-left" data-navigation="$previous-page"></button>
            <h1 class="title">Sweet Alarm Activator</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
            <h1 data-i18n="text: toggle_alarm"></h1>
            <p>
              <b data-i18n="text: alarm_name"></b>: <span id="alarm-name"></span>
            </p>
            <p>
              <b data-i18n="text: alarm_system"></b>: <span id="alarm-system"></span>
            </p>
            <h2 data-i18n="text: actions"></h2>
            <div class="row text-center">
                <div class="tablet-6 large-6 phone-6 column"><button class="btn positive padded-full" data-i18n="text: lock"></button></div>
                <div class="tablet-6 large-6 phone-6 column"><button class="btn positive padded-full" data-i18n="text: unlock"></button></div>
            </div>
        </div>
    </div>
</toggle-alarm>
